
body {
    background-color: black;
}
/*/////////////*/
/* FONT STYLES */
/*/////////////*/

body {
  font-family: helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  color: rgba(255,255,255,0.8);
}
.navigation-row div {
  font-size: 1.25em;
}
.bottom {
  font-size: .8em;
}
.top {
  text-transform: uppercase;
}
.link {
  cursor: pointer;
}

/*////////////*/
/* CONTAINERS */
/*////////////*/

.container {
  text-align: center;
}
.content-box {
  margin: 0 auto;
  display: inline-block;
  position: relative;
}
.poster {
  height: 100vh;
}
.underlay, .overlay{
  position: fixed;
  left: 0;
  width: 100vw;
  min-height: 100vh;
}

.overlay {
  background-color: rgba(255,255,255,0.5);
  z-index: 10;
}
.overlay-box {
  display: none;
  width: 590px;
  height: 590px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/*//////////*/
/*NAVIGATION*/
/*//////////*/

.navigation {
  position:absolute;
  width: 100%;
  margin: 15px 0px;
  z-index: 10;
}
.navigation-row {
  margin: 5px 0;
}
.navigation-row div {
  display: inline-block;
  margin: 5px 10px;
  transition: all 1s;
}
.navigation-row div:hover {
  webkit-transform: scale(1.1, 1.1);
  ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.bottom {
  text-align: right;
}

/*///////////////*/
/* AWARDS IMAGES */
/*///////////////*/

.awards-group {
  position: absolute;
  bottom: -45px;
  right: -25px;
  transform: scale(0.6);
}
.awards-group img {
  display: block;
  margin: 10px;
}

/*///////////////////*/
/* PORTFOLIO CLASSES */
/*///////////////////*/

.portfolio-box {

}
.content-row {
  font-size: 0;
  letter-spacing: 0;
  box-sizing: border-box;
}
.content-tile {
  display: inline-block;
  width: 180px;
  height: 180px;
  background-color: rgba(255,255,255,0.8);
  margin: 0;
  position: relative;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  margin: 1px;
}

.content-tile > div {
  color: black;
  text-align: center;
  letter-spacing: 2px;
  width: 90%;
}

.content-tile-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 0px;
}

.content-tile-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
  font-size: 12px;
  font-style:oblique;
  font-weight:400;
  transition: all 0.5s;
  opacity: 0;
}

.content-tile:hover {
  
}

.content-tile-campaign {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  width: 90%;
  font-size: 10px;
  padding-bottom: 10px;
}

/*///////////////////*/
/* ABOUT CLASSES */
/*///////////////////*/

/*////////////////*/
/* HELPER CLASSES */
/*////////////////*/

@-webkit-keyframes blur {
  0%    { -webkit-filter: blur(0px);
                  filter: blur(0px);
        }
  100% {  -webkit-filter: blur(10px);
                  filter: blur(10px); }
}
@keyframes blur {
  0%    {  -webkit-filter: blur(0px);
                   filter: blur(0px);
        }
  100% {   -webkit-filter: blur(10px);
                   filter: blur(10px);
        }
}
.filter {
  -webkit-animation: blur 0.3s forwards;
          animation: blur 0.3s forwards;
}

@-webkit-keyframes unblur {
  0%  {   -webkit-filter: blur(10px);
                  filter: blur(10px); }
  100% {  -webkit-filter: blur(0px);
                  filter: blur(0px); }
}
@keyframes unblur {
  0%  {   -webkit-filter: blur(10px);
                  filter: blur(10px); }
  100% {  -webkit-filter: blur(0px);
                  filter: blur(0px); }
}

.unfilter {
  -webkit-animation: unblur 0.3s forwards;
          animation: unblur 0.3s forwards;
}

.active {
  font-weight: 700;
}
