
body {
    background-color: black;
}
/*/////////////*/
/* FONT STYLES */
/*/////////////*/

body {
  font-family: helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  color: rgba(255,255,255,0.8);
}
.navigation-row div {
  font-size: 1.25em;
}
.bottom {
  font-size: .8em;
}
.top {
  text-transform: uppercase;
}
.link {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.about-box h1, h2 {
  font-size: 1.25em;
  font-weight: 700;
  color: rgba(1,1,1, 0.6);
}

.about-box h2 {
  font-size: 1.1em;
}

/*////////////*/
/* CONTAINERS */
/*////////////*/

.container {
  text-align: center;
}
.content-box {
  margin: 0 auto;
  display: inline-block;
  position: relative;
}
.poster {
  height: 100vh;
}
.underlay, .overlay{
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  background-color: rgba(255,255,255,0.5);
  z-index: 15;
}
.overlay-box {
  display: none;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio-box {
  width: 590px;
  height: 590px;
}
/*//////////*/
/*NAVIGATION*/
/*//////////*/

.navigation {
  position:absolute;
  width: 100%;
  margin: 15px 0px;
  z-index: 10;
}
.navigation-row {
  margin: 5px 0;
}
.navigation-row div {
  display: inline-block;
  margin: 5px 10px;
  transition: all 1s;
}
.navigation-row div:hover {
  webkit-transform: scale(1.1, 1.1);
  ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.bottom {
  text-align: right;
}

/*///////////////*/
/* AWARDS IMAGES */
/*///////////////*/

.awards-group {
  position: absolute;
  bottom: -45px;
  right: -25px;
  transform: scale(0.6);
}
.awards-group img {
  display: block;
  margin: 10px;
}

/*///////////////////*/
/* PORTFOLIO CLASSES */
/*///////////////////*/

.portfolio-box {

}
.content-row {
  font-size: 0;
  letter-spacing: 0;
  box-sizing: border-box;
}
.content-tile {
  display: inline-block;
  width: 180px;
  height: 180px;
  background-color: rgba(255,255,255,0.8);
  margin: 0;
  position: relative;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  margin: 1px;
  -moz-transition: all .2s;
 -o-transition: all .2s;
 -webkit-transition: all .2s;
 transition: all .2s;

}



.content-tile:hover .content-tile-text {
  opacity: 1;
}

.content-tile:focus .content-tile-text {
  opacity: 1;
}

.content-tile > div {
  color: black;
  text-align: center;
  letter-spacing: 2px;
  width: 100%;
}

.content-tile-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 0px;
}

.content-tile-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
  font-size: 12px;
  font-style:oblique;
  font-weight:400;
  transition: all 0.5s;
  opacity: 0;
}

.content-tile-text::before {
  content: "\201C"
}
.content-tile-text::after {
  content: "\201D"
}

.content-tile::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  opacity: 1;
  background-size: cover;
  transition: all 0.3s linear;
}

.content-tile:hover::after {
  opacity: 0.2;
}


#banana-boat:after {
    background-image: url("../assets/tile-banana-boat.png");
}

#fin:after {
    background-image: url("../assets/tile-fin.png");

}

#tefal:after {

    background-image: url("../assets/tile-tefal.png");

}

#maccas:after {
    background-image: url("../assets/tile-maccas.png");

}

#fitbit:after {
    background-image: url("../assets/tile-fitbit.png");

}

#ask_izzy:after {
    background-image: url("../assets/tile-askizzy.png");

}

#one-punch:after {
    background-image: url("../assets/tile-one-punch.png");

}

#duracell:after {
    background-image: url("../assets/tile-duracell.png");

}

#sony:after {
    background-image: url("../assets/tile-sony.png");

}

.content-tile-campaign {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  width: 90%;
  font-size: 10px;
  padding-bottom: 10px;
}

.overlay-image {
  z-index: 10;
  max-height: 100vh;
  max-width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.slideshow {
  z-index: 10;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  text-align: center;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1, 1) rotate(90deg) translateX(-50%);
  }
  50% {
    transform: scale(1.5, 1.5) rotate(90deg) translateX(-50%);
  }
}

.scroll::after {
  z-index: 10;
  font-size: 2em;
  position: absolute;
  bottom: 10%;
  left: 50%;
  color: black;
  content: "\226B";
  /*transform: rotate(90deg) translate(-50%, -50%);*/
  animation: pulse 2s infinite;
}

.slideshow-image {
  display: inline-block;
  z-index: 15;
  max-width: 100vw;
  max-height: 100vh;
  margin-bottom: 20px;
}


.carousel {
  min-width: 100vw;
}
/*///////////////////*/
/* ABOUT CLASSES */
/*///////////////////*/

.about-box {
  background-color: rgba(255,255,255,0.8);
  color: black;
  padding: 10px 40px 10px 40px;
}


/*////////////////*/
/* HELPER CLASSES */
/*////////////////*/

@-webkit-keyframes blur {
  0%    { -webkit-filter: blur(0px);
                  filter: blur(0px);
        }
  100% {  -webkit-filter: blur(10px);
                  filter: blur(10px); }
}
@keyframes blur {
  0%    {  -webkit-filter: blur(0px);
                   filter: blur(0px);
        }
  100% {   -webkit-filter: blur(10px);
                   filter: blur(10px);
        }
}
.filter {
  -webkit-animation: blur 0.3s forwards;
          animation: blur 0.3s forwards;
}

@-webkit-keyframes unblur {
  0%  {   -webkit-filter: blur(10px);
                  filter: blur(10px); }
  100% {  -webkit-filter: blur(0px);
                  filter: blur(0px); }
}
@keyframes unblur {
  0%  {   -webkit-filter: blur(10px);
                  filter: blur(10px); }
  100% {  -webkit-filter: blur(0px);
                  filter: blur(0px); }
}

.unfilter {
  -webkit-animation: unblur 0.3s forwards;
          animation: unblur 0.3s forwards;
}

.active {
  font-weight: 700;
}



@media (max-width: 750px) {

  .portfolio-box {
    width: 80%;
    height: 80%;
    overflow-y: auto;
  }
  .content-tile-header {
    font-size: 24px;
  }
  .content-tile-campaign {
    font-size: 18px;
  }
  .content-tile-text {
    font-size: 20px;
    max-width: 80%;
    opacity: 0.9;
  }
  .content-tile {
    width: 100%;
    margin: 10px;
    transition: none;
  }
  .about-box {
    width: 80vw;
    top: 30%;
  }
  .about-box p {
    font-size: 10px;
  }
  .poster {
    max-width: 100vw;
    height: auto;
  }
}
